<!DOCTYPE html>
<html lang="en">

<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>URL SHORTNER</title>
     <link rel="icon"  href="data:,">
     <!-- <link rel="icon" type="image/png" href="../favicon/favicon.png"> -->


</head>

<body>
     <div class="title">
          <h1>URL SHORTENER</h1>
     </div>
     <% if (locals.shortId) { %>
          <div class="generted_result">
               <p>your url is:</p>
               <p>http://localhost:8001/<%= shortId%>
               </p>
          </div>
     <% } %>
     <div class="input_form">
          <form action="/url" method="post">
               <p>plz input your url:</p>
               <input type="text" name="url" required placeholder="www.google.com">
               <button type="submit">generate</button>
          </form>
     </div>
              <% if (locals.urls && locals.urls.length>0) { %>
               <div class="all_urls">
                    <table>
                         <title>all urls</title>
                         <thead>
                              <tr>
                                   <th>index</th>
                                   <th>original_url</th>
                                   <th>shortId</th>
                                   <th>visits</th>
                                   <th>redirectUrl</th>
                              </tr>
                         </thead>
                         <tbody>
                              <% urls.forEach((url,index)=> { %>
                               <tr>
                                   <td><%= index +1 %></td>
                                   <td><%= url.redirectUrl %></td>
                                   <td><%= url.shortId %></td>
                                   <td><%= url.visitHistory.length %></td>
                                   <td>http://localhost:8001/<%= url.shortId %></td>
                               </tr>
                              <% }) %>
                         </tbody>
                    </table>
               </div>
              <% } %>
</body>

</html>